<form action="/add-module" method="post">
    <div class="columns">
        <div class="column field">
            <label class="label">Pathway</label>
            <div class="control select is-fullwidth">
                <select name="pathway" required>
                    <option value="" disabled selected>Select from the list</option>
                    <<% existingPathways.forEach((pathway) => { %>
                        <option value="<%= pathway.pathway_id %>"><%= pathway.pathway_name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="column field">
            <label class="label">Semester</label>
            <div class="control select is-fullwidth">
                <select name="semester" required>
                    <option value="" disabled selected>Select from the list</option>
                    <% existingModules.forEach((module) => { %>
                        <option value="<%= module.semester %>"><%= module.semester %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column field">
            <label class="label">Module Code</label>
            <div class="control">
                <input class="input" type="text" placeholder="Format XXXX000" name="subjectId" required>
            </div>
        </div>
        <div class="column field">
            <label class="label">Module Name</label>
            <div class="control">
                <input class="input" type="text" name="moduleTitle" required>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column field">
            <label class="label">Credits</label>
            <div class="control">
                <input class="input" type="number" name="credits" required>
            </div>
        </div>
        <div class="column field">
            <label class="label">Academic Year</label>
            <div class="control">
                <input class="input" type="text" placeholder="Format YYYY/YY (e.g. 2022/23)" name="academicYear" required>
            </div>
        </div>
    </div>
    <button class="button is-success mt-5" type="submit">Confirm</button>
</form>

