<%- include('emmetAbbrev') %>

<body>
    <!-- Navbar -->
    <%- include('navbar') %>

    <div class="columns" style="min-height: 100vh; margin: 0;">

        <div class="column p-5" style="flex-grow: 1;">
            <%- include('adminPageHeader') %>

            <!-- Buttons -->
            <div class="columns mt-5">
                <div class="column">
                    <a href="/students" class="box">
                        <p class="title is-5">Student Management</p>
                        <p>View, add, update, or delete student records.</p>
                    </a>
                </div>
                <div class="column">
                    <a href="/modules" class="box">
                        <p class="title is-5">Module Management</p>
                        <p>Manage academic modules and pathways.</p>
                    </a>
                </div>
                <div class="column">
                    <a href="/grade-upload" class="box">
                        <p class="title is-5">Grade Management</p>
                        <p>Upload, view, and update student grades.</p>
                    </a>
                </div>
            </div>
            
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <p class="title is-5">Reports & Analytics</p>
                        <p>View student performance and progression reports.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <p class="title is-5">Messaging & Notifications</p>
                        <p>Send messages and notifications to students.</p>
                    </div>
                </div>
            </div>

             <!-- Logo Image -->
             <%- include('logo') %>


        </div>
    </div>
</body>

</html>