<form action="/admin/messaging/announcement" method="post">
    <div class="columns mx-3">
        <div class="column is-half field">
            <label class="label">Announcement</label>
            <div class="control">
                <input class="textarea" type="text" name="announcement" required>
            </div>
        </div>

        <div class="column field">
            <label class="label">Pathway</label>
            <div class="control select is-fullwidth">
                <select name="pathway" required>
                    <option value="" disabled selected>Select from the list</option>
                    <!--for each loop dynamic filling with pathways-->
                    <% pathways.forEach((pathway) =>{ %>
                        <option value="<%= pathway.pathway_id %>"><%= pathway.pathway_name %></option>
                    <% }) %>
                    
                </select>
            </div>
        </div>

        <div class="column is-one-fifth field">
            <label class="label">Stage</label>
            <div class="control">
                <input class="input" type="number" name="stage" required>
            </div>
        </div>

        <div class="column mt-2">
            <button class="button is-success mt-5" type="submit">Send Announcement</button>
        </div> 
    </div>


</form>