<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        GradeGuru Login
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/customDesign.css">
</head>


    <body class="has-background-dark" style="height: 100%; margin: 0;">

        <div class="columns is-mobile is-centered is-vcentered" style="min-height: 100vh; margin: 0;">
            <div class="column is-full-mobile is-one-third-tablet">
              <div class="box mx-3 mb-6 has-text-centered">

                <span class="title has-text-centered" style="font-family: 'Comic Sans MS', 'Chalkboard', sans-serif;">
                    GradeGuru
                </span>

                <img src="/guru.png" style="max-width: 80%; height: auto;">

                <form action="/login" class="mt-3">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input " type="email" placeholder="Email" />
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left">
                          <input class="input" type="password" placeholder="Password" />
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>

                      <button class="button is-success" type="submit">Log In</button> 
                </form>
              </div>
            </div>
        </div>

    </body>

</html>