<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand" style="width: 100%; justify-content: space-between; display: flex; align-items: center;">
        <a class="navbar-item" href="/admin/admin-home" style="display: flex; align-items: center;">
            <img src="/house2.png" alt="Home" style="height: 80%; padding-right: 5%;">
            <span class="navbar-item has-text-weight-bold is-size-3" style="font-family: 'Comic Sans MS', 'Chalkboard', sans-serif;
        color: white;">GradeGuru</span>
        </a>
    

    
        <a class="navbar-item" href="messages.html" style="display: flex; align-items: center;">
            <span class="is-hidden-mobile" style="color: white;">Announcements/Messages</span>
            <img src="/megaphone.png" alt="Messages" style="height: 80%; margin-left: 8px;">
        </a>
    </div>

</nav>