<form action="/admin/messaging/message" method="post">
    <div class="columns mx-3">
        <div class="column is-half field">
            <label class="label">Message</label>
            <div class="control">
                <input class="textarea" type="text" name="messageBody" required>
            </div>
        </div>

        
        <div class="column field">
            <label class="label">Student Number</label>
            <div class="control">
                <input class="input" type="text" placeholder="Format 00-XXXX-0000000" name="studentNo" required>
            </div>
        </div>
     
        <div class="column is-one-fifth mt-2">
            <button class="button is-success mt-5" type="submit">Send Announcement</button>
        </div> 
    </div>
</form>